.form-container {
    margin: auto;
    width: 90%;
    height: auto;
    justify-content: center;
    padding: 10px;
}

@media screen and (min-width: 800px) {
    .form-container {
        margin: auto;
        width: 500px;
        height: auto;
        justify-content: center;
        padding: 10px;
    }
}